# Exploratory Data Analysis (EDA)
## Credit Risk Modeling with Alternative Data (Xente Dataset)

In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

pd.set_option("display.max_columns", None)
sns.set_style("whitegrid")

# load the data set and sanity check

In [16]:
data_path = "../data/raw/data.csv"
df = pd.read_csv(data_path)
print(df.head())
df.info()

         TransactionId         BatchId       AccountId       SubscriptionId  \
0  TransactionId_76871   BatchId_36123  AccountId_3957   SubscriptionId_887
1  TransactionId_73770   BatchId_15642  AccountId_4841  SubscriptionId_3829
2  TransactionId_26203   BatchId_53941  AccountId_4229   SubscriptionId_222
3    TransactionId_380  BatchId_102363   AccountId_648  SubscriptionId_2185
4  TransactionId_28195   BatchId_38780  AccountId_4841  SubscriptionId_3829

        CustomerId CurrencyCode  CountryCode    ProviderId     ProductId  \
0  CustomerId_4406          UGX          256  ProviderId_6  ProductId_10
1  CustomerId_4406          UGX          256  ProviderId_4   ProductId_6
2  CustomerId_4683          UGX          256  ProviderId_6   ProductId_1
3   CustomerId_988          UGX          256  ProviderId_1  ProductId_21
4   CustomerId_988          UGX          256  ProviderId_4   ProductId_6

      ProductCategory    ChannelId   Amount  Value  TransactionStartTime  \
0             airtime  ChannelId_3   1000.0   1000  2018-11-15T02:18:49Z
1  financial_services  ChannelId_2    -20.0     20  2018-11-15T02:19:08Z
2             airtime  ChannelId_3    500.0    500  2018-11-15T02:44:21Z
3        utility_bill  ChannelId_3  20000.0  21800  2018-11-15T03:32:55Z
4  financial_services  ChannelId_2   -644.0    644  2018-11-15T03:34:21Z

   PricingStrategy  FraudResult
0                2            0
1                2            0
2                2            0
3                2            0
4                2            0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  object
 14  PricingStrategy       95662 non-null  int64
 15  FraudResult           95662 non-null  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 11.7+ MB

# Convert TransactionStartTime to datetime

In [ ]:
df["TransactionStartTime"] = pd.to_datetime(df["TransactionStartTime"])